@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap')

*
    margin: 0
    padding: 0
    font-family: 'Noto Sans', sans-serif
    text-decoration: none

a
    color: black !important

body
    background: rgb(248, 248, 248)

.container
    width: 100%
    max-width: 1400rem
    margin-inline: auto

.err
    color: red
    font-size: 17rem

.btn
    padding: 3rem 10rem
    border: 1rem solid #815cdb
    outline: none
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px
    border-radius: 5rem
    background: #FFF
    color: #6342b5
    font-size: 14rem
    font-weight: 500
    cursor: pointer
